.App {
  text-align: center;
}

.App-logo {
  position: relative;
  height: 33vmin;
  pointer-events: none;
  top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 0;
}

.App-header p {
  flex: 1 1 100%;
  margin: 0;
  text-align: center;
}
.App-header .lab-link-button {
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 15px;
  margin-top: 0;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 158, 202);
  background-color: transparent;
  border: 2px solid rgb(20, 158, 202);
}
.App-header .lab-link-button:hover {
  color: #61dafb;
  border-color: #61dafb;
  cursor: pointer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
