label {
    margin: 10px;
    display: block;
}
.sort-table {
    border-collapse: collapse;
    margin: 0 auto;
}
.sort-table th {
    border-bottom: 2px solid black;
    text-align: left;
}
.sort-table th button {
    font-weight: bold;
    border: none;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    font-size: 16px;
}
.sort-table th button:hover {
    background-color: rgb(195, 195, 195);
}
.sort-table th button:active {
    outline: 3px solid black;
}
.sort-table td {
    border-bottom: 1px solid gray;
}
.sort-table td, .sort-table th {
    width: 20%;
    padding: 20px;
    /* padding-bottom: 10px; */
}