#lab5-form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 0 auto;
    flex-wrap: wrap;
}

#lab5-form input[type="submit"] {
    width: fit-content;
    margin-top: 15px;
}

.valid-input {
    outline-color: rgb(23, 179, 44)
}
.invalid-input {
    outline-color: rgb(179, 23, 36)
}